<div>
  <div class="d-flex">
    <h1>
      <%= @the_board.name %>
    </h1>
    <!-- Button trigger modal -->
    <button type="button" class="ms-auto btn btn-sm btn-outline-success" data-bs-toggle="modal" data-bs-target="#addPost">
      Add a new post
    </button>
  </div>
</div>

<!-- Modal-->
<div class="modal fade" id="addPost" tabindex="-1" aria-labelledby="addModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="addPostModalLabel">New post</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form action="/insert_post" method="post">
          <div class="mb-3">
            <label for="title_box" class="form-label">
              Title
            </label>

            <input type="text" id="title_box" name="query_title" class="form-control">
          </div>

          <div>
            <label for="body_box" class="form-label">
              Body
            </label>

            <textarea id="body_box" name="query_body" rows="3" class="form-control"></textarea>
          </div>

          <div>
            <label for="expires_on_box" class="form-label">
              Expires on
            </label>

            <input type="date" id="expires_on_box" name="query_expires_on" class="form-control">
          </div>

          <input type="hidden" id="board_id_box" name="query_board_id" value="<%= @the_board.id %>">
          <div class="d-grid gap-2">
            <button class="btn btn-primary">
              Add post
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<ul class="nav nav-tabs" id="myTab" role="tablist">
  <li class="nav-item" role="presentation">
    <button class="nav-link active" id="active-post-tab" data-bs-toggle="tab" data-bs-target="#active-post-tab-pane" type="button" role="tab" aria-controls="active-post-tab-pane" aria-selected="true">Active posts</button>
  </li>
  <li class="nav-item" role="presentation">
    <button class="nav-link" id="inactive-post-tab" data-bs-toggle="tab" data-bs-target="#inactive-post-tab-pane" type="button" role="tab" aria-controls="inactive-post-tab-pane" aria-selected="false">Expired posts</button>
  </li>
</ul>

<div class="tab-content" id="myTabContent">
  <div class="tab-pane fade show active" id="active-post-tab-pane" role="tabpanel" aria-labelledby="active-post-tab" tabindex="0">...</div>
  <div class="tab-pane fade" id="inactive-post-tab-pane" role="tabpanel" aria-labelledby="inactive-post-tab" tabindex="0">...</div>
</div>

<% @active_posts.each do |a_post| %>
  <div class="row row-cols-4 row-cols-md-1 g-4">
    <div class="col">
      <div class="card text-bg-light mb-3" style="max-width: 18rem;">
        <div class="card-header">
          <div>
            <h6>
              <%= a_post.title %>
            </h6>
          </div>
          <div> Expires on <%= a_post.expires_on.strftime("%b %e, %Y")%></div>
        </div>
        <div class="card-body">
          <p class="card-text"><%= a_post.body%></p>
        </div>
        <div class="card-footer">
          Posted on <%= a_post.created_at.strftime("%b %e, %Y") %>
        </div>
      </div>
    </div>
  </div>
<% end %>

<h2>Expired posts</h2>

<table border="1">
  <tr>
    <th>Title</th>
    <th>Body</th>
    <th>Posted on</th>
    <th>Expired on</th>
  </tr>

  <% @expired_posts.each do |a_post| %>
    <tr>
      <td><%= a_post.title %></td>
      <td><%= a_post.body %></td>
      <td><%= a_post.created_at.strftime("%b %e, %Y") %></td>
      <td><%= a_post.expires_on.strftime("%b %e, %Y") %></td>
    </tr>
  <% end %>
</table>

<hr>

<h2>
  Add a new post
</h2>
